* {
    background-color: aliceblue;
    padding: 10px 20px;
}

h1 {
    text-align: center;
    align-content: center;
    font-size: 40px;
}

.musicPlayer {
    text-align: center;
    align-content: center;
    font-size: 25px;
}

.controls {
    text-align: center;
    align-content: center;
    font-size: 25px;
}

#previousSong {
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

#playSong {
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

#nextSong {
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

#songImage {
    width: 200px;
}

#seekRange {
    width: 250px;
    cursor: pointer;
}
