* {
    background-color: aliceblue;
    padding: 10px 20px;
}

h1 {
    text-align: center;
    align-content: center;
    font-size: 40px;
}

.musicPlayer {
    text-align: center;
    align-content: center;
    font-size: 25px;
}

.controls {
    font-size: 25px;
    text-align: center;
}

#shuffleSong {
    font-size: 20px;
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

#previousSong {
    font-size: 20px;
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

#playSong {
    font-size: 20px;
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

#nextSong {
    font-size: 20px;
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

#repeatSong {
    font-size: 20px;
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
}

#songImage {
    width: 200px;
}

#seekRange {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 250px;
    height: 5px;
    background: repeating-linear-gradient(red, red 5px, white 10px, white 10px);
    border-radius: 20px;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
}
